
bert_model/wwm_uncased_L-24_H-1024_A-16/

.DS_Store

test_modules/bert_models/

__pycache__/

.vscode/

.ipynb_checkpoints

core_modules/news_analyzer/bert_models/
core_modules/log/
log/
access.log
error.log
*.log
configuration/config_server.yaml